@using ServerManagement.Components.Pages
@inject NavigationManager NavManager

@if (Server != null)
{
    @* Use the cascaded value *@
    <p>@SelectedCity</p>

    <li @key="Server.ServerId">
        @Server.Name in @Server.City is
        <span style="color:@((Server.IsOnline ? "green" : "red"))">
            @(Server.IsOnline ? "online" : "offline")
        </span>
        <a href="/server/@Server.ServerId" class="text-decoration-none">Edit</a>
        <EditForm Model="Server" FormName="@($"formServer-{Server.ServerId}")" OnValidSubmit="@(() => { OnDeleteServer(Server.ServerId); })">
            <button type="submit" class="btn btn-sm btn-danger">Delete</button>
        </EditForm>
    </li>
}



@code {
    [Parameter]
    public Server? Server { get; set; }

    // Get the cascaded value
    [CascadingParameter(Name = "SelectedCity")]
    public string? SelectedCity { get; set; }

    private void OnDeleteServer(int serverId)
    {
        if (serverId > 0)
        {
            ServerRepo.DeleteServer(serverId);
            NavManager.Refresh(true);
        }
    }

}
