@page "/servers"
@inject NavigationManager NavManager

<h3><img src="@($"/images/server.png")" height="50" /> Servers</h3>
<hr />

@foreach (var city in cities)
{
    <button class="btn btn-info m-1">@city</button>
}

<hr />

<ServerWidget />

@* Request goes to the server and comes back. But the page doesnot reloads *@
@* uses SignalR channel *@
@* Best Options for Server Interactivity *@
<ServerInteractionWidget @rendermode="InteractiveServer"></ServerInteractionWidget>

<hr/>
<ul>
    @foreach (var server in servers)
    {
        <li>
            @server.Name in @server.City is
            <span style="color:@((server.IsOnline ? "green" : "red"))">
                @(server.IsOnline ? "online" : "offline")
            </span>
            <a href="/servers/@server.ServerId" class="text-decoration-none">Edit</a>

            <EditForm Model="server" FormName="@($"formServer-{server.ServerId}")" OnValidSubmit="@(() => { OnDeleteServer(server.ServerId);})">
                <button type="submit" class="btn btn-sm btn-danger">Delete</button>
            </EditForm>
        </li>
    }
</ul>

<a href="/servers/add" class="btn btn-outline-info">Add Server</a>

@code {
    private List<Server> servers = ServerRepo.GetServersByCity("raipur");
    private List<string> cities = CityRepo.GetCities();

    private void OnDeleteServer(int serverId)
    {
        if (serverId > 0)
        {
            ServerRepo.DeleteServer(serverId);
            NavManager.Refresh();
        }
    }
}
